<!-- Welcome Section -->  
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12">      
            <div class="row text-center">
              <div class="home-box">
                <h1>Welcome to Cuts N Curls, an incredibly unique experience for your grooming needs.</h1><br />
                <%= link_to "Learn More", services_path, class: "btn-main" %>
              </div>
            </div>       
          </div><!--End Span12-->
        </div>
      </div>
    </div>

   <!--Home Content-->
    <section id="home-content">
      <div class="container">
        <div class="row">
          
          <!--Section 1-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-scissors fa-3x"></i>
              <h3>Great Styles</h3>
              <p>Cupcake ipsum dolor sit amet chocolate cake soufflé apple pie. Cake jujubes chocolate bar pie dessert cake cheesecake. Gummies dessert fruitcake dragée candy oat cake.</p>
            </div>
          </a>
          
          <!--Section 2-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-users fa-3x"></i>
              <h3>Awesome People</h3>
              <p>Cupcake ipsum dolor sit amet chocolate cake soufflé apple pie. Cake jujubes chocolate bar pie dessert cake cheesecake. Gummies dessert fruitcake dragée candy oat cake.</p>
            </div>
          </a>
          
          <!--Section 3-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-money fa-3x"></i>
              <h3>Great Prices</h3>
              <p>Cupcake ipsum dolor sit amet chocolate cake soufflé apple pie. Cake jujubes chocolate bar pie dessert cake cheesecake. Gummies dessert fruitcake dragée candy oat cake.</p>
            </div>
          </a>
          
        </div>
      </div>
    </section>
       

    <!--Content Section-->
    <section id="content">
      <div class="container">
        <div class="row margin-50">
          <div class="col-md-12 text-center">
              <ul class="list-inline home-icons">
                <li><i class="fa fa-male fa-4x blue"></i></li>
                <li><i class="fa fa-child fa-4x blue"></i></li>
                <li><i class="fa fa-heart fa-4x blue"></i></li>
                <li><i class="fa fa-child fa-4x blue"></i></li>
                <li><i class="fa fa-female fa-4x blue"></i></li>
              </ul>
          </div>
        </div>
        
        <div class="row margin-30">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="dark-gray">We're Also Family Friendly</h1>
          </div>
        </div>
        
        <div class="row margin-30">
          <div class="col-md-6">
            <p class="gray">Cupcake ipsum dolor. Sit amet caramels donut marzipan powder. Wafer sesame snaps pudding. Sweet roll marzipan gummi bears. Gingerbread candy cotton candy bonbon gingerbread donut gingerbread gummi bears topping. Chocolate chupa chups cupcake liquorice.</p><br />          
          </div>
          
          <div class="col-md-6">
            <p class="gray">Cupcake ipsum dolor sit amet toffee fruitcake pastry pie. Bear claw bonbon powder icing cake tart jujubes sugar plum. Biscuit bonbon toffee. Croissant sweet roll muffin jelly beans chocolate cake jelly beans. Fruitcake lemon drops topping pie danish tart jujubes. Muffin lollipop sweet bear claw cupcake muffin. Jujubes chocolate bar pie gummi bears dessert topping lollipop. Cotton candy liquorice fruitcake donut jelly pastry.</p><br />          
          </div>
        </div><!--End Row-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to "Book Appointment", new_appointment_path, class: "btn-main" %>     
          </div>
        </div><!--End Row-->
        
      </div>
    </section> 