<section id="message">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h4 class="gray">Topping gummi bears marshmallow. Icing tiramisu I love cotton candy gummi bears lemon drops cotton candy. Pie jelly beans bonbon.</h4>
      </div>
    </div>
  </div>
</section>
