<!--Bottom Section-->
<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p>1234 Main Street Omaha, NE 68112 | 402.555.5555  |  <a href="mailto:support@cutsncurls.com"><i class="fa fa-envelope-o"></i> support@cutsncurls.com</a></p>
        <hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <!--Social Icons-->          
        <ul class="social-icons">
          <li><a class="twitter" href="http://www.twitter.com/themearmada" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a class="google" href="http://www.googleplus.com" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
          <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa fa-camera-retro fa-3x"></i></a></li>
          <li><a class="pinterest" href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest fa-3x"></i></a></li>
          <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
          <li><a class="Github" href="http://www.github.com" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
        </ul>
      </div>
    </div>
    
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.tydellmiller.com">Branden Miller</a> and ThemeArmada</p>
      </div>
    </div>
  </div>
</section>